h2{
    font-size: 34px;
    font-weight: bold;
    color: red;
    text-shadow: 2px 2px 4px white;
}
div{
    height: 400px;
    width: 400px;
    background-color: azure;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-left: 450px;
    
    

}
form{
    display: block;
    
    justify-content: center;
    align-items: center;
}
input{
    height: 30px;
    width: 250px;
    margin-top: 10px;
    box-shadow: 2px 2px 4px black;
}
button{
    width: 80px;
    height: 30px;   
}